@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
}

html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--off-white);
  font-family: 'Poppins', sans-serif;
}
.label {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  font-size: 1.2rem;
  color: var(--smokey-grey);
  margin-bottom: 0.6rem;
}
.app--container {
  background-color: var(--white);
  height: 500px;
  width: 600px;
  border-radius: 2rem 2rem 12rem;
  padding: 4rem;
}
.bday--input-container {
  display: flex;
  gap: 2.6rem;
}
.bday-input {
  display: flex;
  flex-direction: column;
}

.input {
  width: 12rem;
  padding: 1rem 2rem;
  font-size: 2.2rem;
  font-weight: 800;
  border: 1px solid;
  border-color: var(--light-grey);
  border-radius: 6px;
  color: var(--off-black);
  cursor: pointer;
  transition: border-color 200ms linear;
}

.input::placeholder {
  color: var(--light-grey);
}
.input:hover,
.input:active {
  border-color: var(--purple);
}
.input:focus {
  outline: none !important;
  border-color: var(--purple);
  box-shadow: 0 0 10px var(--light-grey);
}
a:focus,
button:focus {
  outline: none;
}
.line-icon {
  display: flex;
  align-items: center;
}
.hl {
  height: 1px;
  width: 90%;
  background-color: var(--off-white);
}
.circle {
  background-color: var(--purple);
  padding: 2rem;
  border-radius: 50%;
  transition: background-color 300ms ease;
  cursor: pointer;
}

.circle:hover,
.circle:active {
  background-color: var(--off-black);
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.attribution {
  margin-top: 4rem;
}
.age--container {
  font-size: 6rem;
  font-weight: 800;
  font-style: italic;
  color: var(--off-black);
}
.age--container span {
  color: var(--purple);
}

.error {
  color: var(--light-red);
}
.red--border {
  border-color: var(--light-red);
}
.error--msg {
  display: block;
  margin-top: 0.6rem;
  font-size: 1rem;
  color: var(--light-red);
  font-weight: 400;
  font-style: italic;
  display: none;
}
.display--error {
  display: block;
}
